.guestbookDescription {
  border: 2px solid #333;
  padding: 20px;
  margin: -100px 250px 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.signButton {
  border-radius: 20px;
  height: 50px;
  width: 200px;
  background-color: #c4c4c4;
  align-items: center;
  margin: 10px;
}
