.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.guestbookDescription {
  border: 2px solid #333;
  padding: 5vw;
  margin-top: -5rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.signButton {
  border-radius: 20px;
  height: 50px;
  width: 200px;
  background-color: #c4c4c4;
  align-items: center;
  margin: 10px;
}

.guestbookListWrapper {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 2rem 1rem;
}

.guestbookListContainer {
  border: 2px solid #333;
  padding: 10px;
}

.guestlistItemContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  /* flex-wrap: wrap; */
  padding: 10px;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
