@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: underline;
  transition: 75ms;
}

a:hover {
  font-style: italic;
}

* {
  box-sizing: border-box;
}

.active {
  opacity: 1;
}
